@charset 'utf-8';

/* button */
.btn_ty60{display: inline-block;width: 120px;height: 60px;border-radius: 8px;background: #FF2D55;color: #fff;font-size: 16px;text-align: center;line-height: 60px;}
.btn_ty60:hover{background: #FF2D55;}
.btn_ty60:click{background: #FF2D55;}
.btn_ty60:disabled{background: #FF2D55;}

.btn_ty46{display: inline-block;width: 90px;height: 46px;border-radius: 8px;background: #FF2D55;color: #fff;font-size: 16px;text-align: center;line-height: 46px;}

/* basic */
.cf:after{content: '';display: block;clear: both;height: 0;}
#wrap{position: relative;width: 100%;}


/* 상단 */
.main02 #header{position: absolute;top: 0;left: 0;z-index: 1000;}
#header{width: 100%;height: 80px;line-height: 80px;}
.hd_inr{position: relative;height: 80px;margin: 0 80px;}
.hd_inr .logo{position: absolute;left: 0;top: 50%;margin-top: -20px;}
.hd_inr .logo a{display: block;width: 120px;height: 40px;line-height: 80px;}
.hd_inr .logo a img{display: block;width: 100%;height: 100%;}

#nav{float: right}
#nav .gnb{}
#nav .gnb ul{font-size: 0;height: 80px;}
#nav .gnb ul li{display: inline-block;height: 80px;line-height: 80px;font-size: 0;vertical-align: top;}
#nav .gnb ul li a{display: inline-block;height: 80px;letter-spacing: -1px;}
#nav .gnb ul li.gnb_login a{font-size: 18px;}
#nav .gnb ul li.gnb_join{margin-left: 78px;}
#nav .gnb ul li.gnb_join a{width: 104px;height: 52px;font-size: 16px;line-height: 52px;text-align: center;font-weight: 500;border-radius: 200px;background: #FF1150;vertical-align: middle;}

/* 하단 */
.main02 #footer{border-top: 1px solid rgba(255, 255, 255, 0.2);;}
#footer{background: #000;}
#footer .ft_inr{padding: 48px 0 62px;margin: 0 80px;}
#footer .ft_inr .ft_top{}
#footer .ft_inr .ft_top .ft_gnb{float: left;font-size: 0;}
#footer .ft_inr .ft_top .ft_gnb li{display: inline-block;}
#footer .ft_inr .ft_top .ft_gnb li a{display: block;margin-right: 3.229vw;font-size: 16px;font-weight: 300;line-height: 46px;color: rgba(255,255,255,0.6);letter-spacing: -1px;}
#footer .ft_inr .ft_top .ft_gnb li:last-child a{margin-right: 0;}
#footer .ft_inr .ft_top .ft_gnb li a.point{font-weight: 700;color: #fff;}
#footer .ft_inr .ft_top .ft_sns{float: right;font-size: 0;}
#footer .ft_inr .ft_top .ft_sns li{display: inline-block;}
#footer .ft_inr .ft_top .ft_sns li a{display: block;width: 20px;height: 46px;margin-left: 20px;vertical-align: top;line-height: 44px;border: 0;}
#footer .ft_inr .ft_top .ft_sns li:first-child a{margin-left: 0;}
#footer .ft_inr .ft_top .ft_sns li a img{width: 100%;opacity: .6;vertical-align: middle;}

#footer .ft_inr .ft_info{position: relative;height: 58px;margin-top: 30px;}
#footer .ft_inr .ft_info address{position: absolute;top: 0;left: 0;font-size: 0;font-style: normal;vertical-align: bottom;}
#footer .ft_inr .ft_info address p{margin: 12px 1.667vw 0 0;font-size: 16px;color: rgba(255,255,255,0.6);line-height: 23px;letter-spacing: -1px;font-family: 'Noto Sans KR';}
#footer .ft_inr .ft_info address .corp_addr{margin: 0;}
#footer .ft_inr .ft_info address .corp_name{display: inline-block;}
#footer .ft_inr .ft_info address .corp_leader{display: inline-block;}
#footer .ft_inr .ft_info address .corp_num{display: inline-block;}
#footer .ft_inr .ft_info .copyright{position: absolute;bottom: 0;right: 0;vertical-align: bottom;font-family: 'Noto Sans KR';font-weight: 400;font-size: 16px;line-height: 19px;opacity: 0.6;}

@media screen and (max-width: 1010px) { 
    .hd_inr{margin: 0 4.444vw;}
    #nav .gnb ul li.gnb_join{margin-left: 4.063vw;}
    
    #footer .ft_inr{margin: 0 4.444vw;}
    #footer .ft_inr .ft_top .ft_sns{float: none;text-align: center;}
    #footer .ft_inr .ft_info{height: auto;}
    #footer .ft_inr .ft_info address{position: static;}
    #footer .ft_inr .ft_info .copyright{position: static;margin-top: 4.444vw;text-align: left;}
}
@media screen and (max-width: 820px) { 
    #header{height: 13.889vw;line-height: 13.889vw;}
    .hd_inr{height: 13.889vw;}
    .hd_inr .logo{margin-top: -2.0835vw;}
    .hd_inr .logo a{width: 19.444vw;height: 4.167vw;line-height: 13.889vw;}
    #nav .gnb ul{height: 13.889vw;}
    #nav .gnb ul li{height: 13.889vw;line-height: 13.889vw;}
    #nav .gnb ul li a{height: 13.889vw;}
    #nav .gnb ul li.gnb_login a{font-size: 3.611vw;}
    #nav .gnb ul li.gnb_join{margin-left: 6.667vw;}
    #nav .gnb ul li.gnb_join a{width: 18.611vw;height: 7.778vw;font-size: 3.611vw;line-height: 7.778vw;}
    
    #footer .ft_inr{padding: 6.667vw 0 8.889vw;}
    #footer .ft_inr .ft_top .ft_sns li a{width: 5.556vw;min-width: 20px;height: 5.556vw;min-height: 20px;line-height: 5.556vw;}
    #footer .ft_inr .ft_top .ft_gnb{float: none;margin-top: 5.556vw;}
    #footer .ft_inr .ft_top .ft_gnb li a{font-size: 3.889vw;line-height: 5.556vw;margin-bottom: 2.222vw;margin-right: 5.556vw;}
    #footer .ft_inr .ft_info{margin-top: 4.444vw;}
    #footer .ft_inr .ft_info address p{margin: 2.222vw 5.556vw 0 0;font-size: 3.889vw;line-height: 5.556vw;}
    #footer .ft_inr .ft_info .copyright{margin-top: 8.889vw;font-size: 3.333vw;line-height: 1;}
}





/* 메인설정 */
#container{position: relative;width: 100%;height: 100%;overflow: hidden;}
#content{}

/* event main */
.event_main{position: relative;overflow: hidden;}
.ev_main_con{position: relative;z-index: 1;}
.ev_main_con01{margin-top: 90px;text-align: center;}
.ev_main_con01 h2{}
.ev_main_con01 h3{}
.ev_main_con01 h3 img{}
.ev_main_con01 ul{font-size: 0;}
.ev_main_con01 ul li{display: inline-block;}
.ev_main_con01 ul li a{display: block;}
.ev_main_con01 ul li a img{}
.ev_main_con01 ul li a span{font-family: 'LaTo';color: #000;font-size: 20px;font-weight: 700;}

.ev_main_con02{width: 100%;height: 826px;margin-top: 82px;}
.ev_main_con02 .movebg{width: 100vw;height: 100%;font-size: 0;-webkit-animation: movefull 65s linear infinite;-o-animation: movefull 65s linear infinite;animation: movefull 65s linear infinite;background: url(../images/main_pc_con01_fullimage.png) repeat-x 0 -32px / auto 100%;}

@-webkit-keyframes movefull {
    0% {background-position: 0 0;}
    100% {background-position: -2067px 0;}
}
@-o-keyframes movefull {
    0% {background-position: 0 0;}
    100% {background-position: -2067px 0;}
}
@-moz-keyframes movefull {
    0% {background-position: 0 0;}
    100% {background-position: -2067px 0;}
}
@keyframes movefull {
    0% {background-position: 0 0;}
    100% {background-position: -2067px 0;}
}

/*.ev_main_bg{position: absolute;top: 2177px;left: 0;width: 100%;height: 99.740vw;background: url(../images/ev_main_bg.png) no-repeat center center / 100% 100%;}*/
.ev_main_con03{height: 52.083vw;}
.ev_main_con04{width: 100%;height: 99.740vw;background: url(../images/ev_main_bg.png) no-repeat center center / 100% 100%;}
.ev_main_con05{height: 52.083vw;}
.ev_main_con06{background: #fff url(../images/ev_main_con06_bg.png) no-repeat 0 0 / 100% auto;height: 81.510vw;margin-top: 25.521vw;}





/* corporate main */

.full_wrap{width: 100%;height: 100vh;}
.full_wrap .full_box{width: 100%;height: 100vh;}

.full_box .full_con01{background: url(../images/cp_main_con01_bg.png) no-repeat center center / 100% 100%;overflow: hidden;}
.full_box .full_con02{background: url(../images/cp_main_con02_bg.png) no-repeat center center / 100% 100%;}
.full_box .full_con03{background: url(../images/cp_main_con03_bg.png) no-repeat center center / 100% 100%;}
.full_box .full_con04{background: url(../images/cp_main_con04_bg.png) no-repeat center center / 100% 100%;}

.full_box .full_con{position: relative;}
.full_box .full_con .mask{display: none;position: absolute;top: 0;left: 0;width: 100vw;height: 100vh;background: rgba(0,0,0,.4);z-index: 20;}
.full_box .full_con .substance_box{position: absolute;top: 44%;left: 18.750vw;z-index: 1;height: 6.875vw;width: auto;}
.full_box .full_con .substance_box strong{display: block;font-weight: 700;font-size: 2.500vw;line-height: 3.438vw;letter-spacing: -1px;}
.full_box .full_con .substance_box span{display: block;margin-top: 0.781vw;font-weight: 500;font-size: 1.042vw;line-height: 1.510vw;}
.full_box .full_con .images_box{position: absolute;top: 0;left: 50%;width: 50%;height: 100%;font-size: 0;z-index: 10;}
.full_box .full_con .images_box > img{position: absolute;top: 50%;left: -2.552vw;margin-top: -12.5vw;height: 25vw;max-height: 480px;}
.full_box .full_con .images_box .auto_up_img{display: inline-block;vertical-align: top;position: absolute;top: 0;z-index: 1;height: 4400px;}
.full_box .full_con .images_box .auto_up_img li{height: 12.292vw;margin-top: 1.536vw;text-align: center;}
.full_box .full_con .images_box .auto_up_img li img{height: 100%;}
.full_box .full_con .images_box .auto_up_box01{left: 0;animation: auto_up_01 70s linear infinite;}
.full_box .full_con .images_box .auto_up_box02{left: 17.951vw;margin-top: -2.604vw;animation: auto_up_02 60s linear infinite;}
.m_br{display: none;}


@keyframes auto_up_01 {
    0% {top: 0;}
    100% {top: -2659px;}
}

@keyframes auto_up_02 {
    0% {top: 0;}
    100% {top: -2659px;}
}

@media screen and (max-width: 1010px) { 
    .full_box .full_con .images_box .auto_up_img li{height: 13.292vw;}
    .full_box .full_con .images_box .auto_up_box01{}
    .full_box .full_con .images_box .auto_up_box02{left: 18.951vw;}
}
@media screen and (max-width: 820px) { 
    
    
    .full_box .full_con01{background: url(../images/mobile/cp_main_m_con01_bg.png) no-repeat center center / 100% 120%;overflow: hidden;}
    .full_box .full_con02{background: url(../images/mobile/cp_main_m_con02_bg.png) no-repeat center center / 100% 100%;}
    .full_box .full_con03{background: url(../images/mobile/cp_main_m_con03_bg.png) no-repeat center center / 100% 100%;}
    .full_box .full_con04{background: url(../images/mobile/cp_main_m_con04_bg.png) no-repeat center center / 100% 100%;}
    
    .full_box .full_con .mask{display: block;}
    .full_box .full_con .substance_box{left: 4.444vw;z-index: 100;}
    .full_box .full_con .substance_box strong{font-size: 8.889vw;line-height: 12.778vw;}
    .full_box .full_con .substance_box span{display: none;}
    .full_box .full_con .images_box{left: 40%;width: 60%;}
    .full_box .full_con .images_box > img{display: none;}
    .full_box .full_con .images_box .auto_up_img li{height: 23.292vw;margin-top: 3.036vw;}
    .full_box .full_con .images_box .auto_up_box02{left: 33.951vw;}
    .m_br{display: block;}
    
    
}
@media screen and (max-width: 500px) {
    .full_box .full_con .images_box .auto_up_img li{height: 33.292vw;margin-top: 3.036vw;}
    .full_box .full_con .images_box .auto_up_box02{left: 46.951vw;}
}



/* swiper css */

.cp_sl_prev,
.cp_sl_next {
    width: 5.208vw;
    height: 5.208vw;
    margin-top: -2.604vw;
    border-radius: 2.604vw;
    background-size: 0.885vw 1.615vw;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.cp_sl_prev:hover,
.cp_sl_next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.cp_sl_prev.swiper-button-disabled,
.cp_sl_next.swiper-button-disabled {
    opacity: 0.35;
}

.cp_sl_prev,
.swiper-container-rtl .cp_sl_next {
    background-image: url('../images/pg_left.png');
    left: 7.292vw;
    right: auto;
}

.cp_sl_next,
.swiper-container-rtl .cp_sl_prev {
    background-image: url('../images/pg_right.png');
    right: 7.292vw;
    left: auto;
}

#container .full_wrap .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.208vw;
}

#container .full_wrap .swiper-pagination-bullets.pg01 {
    bottom: 50%;
    left: 18.750vw;
    margin-bottom: -9.479vw;
    width: auto;
}

#container .full_wrap .swiper-pagination-fraction.pg02{
    bottom: 50%;
    left: 23.958vw;
    margin-bottom: -9.479vw;
    width: auto;
    font-size: 0;
}

#container .full_wrap .swiper-pagination-fraction.pg02:after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.573vw;
    height: 0.573vw;
    margin: -0.265vw 0 0 -0.2865vw;
    background: url(../images/pg_line.png) no-repeat center / 0.573vw;
}

#container .full_wrap .swiper-pagination-fraction.pg02 span{
    display: inline-block;
    font-weight: 400;
    font-size: 0.833vw;
    line-height: 0.990vw;
    text-align: center;
}

#container .full_wrap .swiper-pagination-fraction.pg02 span.swiper-pagination-current{
    margin-right: 0.990vw;
}

/* Bullets */
.swiper-pagination-bullet {
    width: 0.417vw;
    height: 0.417vw;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: 0.3;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
    width: 1.563vw;
    border-radius: 0.521vw;
    -webkit-transition: width .9s;
    -o-transition: width .9s;
    transition: width .9s;
}

@media screen and (max-width: 820px) {
    .cp_sl_prev, .cp_sl_next{display: none;}
    
    #container .full_wrap .swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 1.111vw;}
    
    #container .full_wrap .swiper-pagination-bullets.pg01{bottom: 50%;left: 4.444vw;margin-bottom: -25vw;}
    #container .full_wrap .swiper-pagination-fraction.pg02{bottom: 50%;left: 4.444vw;margin-bottom: -25vw;margin-left: 30vw;}
    #container .full_wrap .swiper-pagination-fraction.pg02:after{width: 3.056vw;height: 3.056vw;margin: -2.128vw 0 0 -1.328vw;background: url(../images/pg_line.png) no-repeat center / 3.056vw;}
    #container .full_wrap .swiper-pagination-fraction.pg02 span{font-size: 4.444vw;line-height: 0;}
    #container .full_wrap .swiper-pagination-fraction.pg02 span.swiper-pagination-current{margin-right: 5.278vw;}
    
    .swiper-pagination-bullet{width: 2.222vw;height: 2.222vw;}
    .swiper-pagination-bullet-active{width: 8.333vw;border-radius: 13.889vw}
}




