@charset 'utf-8';

html, body{background: #151515;}

#mobileWrap{width: 100%;background: #151515;}

.intro_box{position: relative;height: 100vh;}

.intro{position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -55%);-ms-transform: translate(-50%, -55%);-o-transform: translate(-50%, -55%);transform: translate(-50%, -55%);width: 100%;max-width: 540px;margin: auto;text-align: center;}
.intro .intro_tit{width: 100%;text-align: center;}
.intro .intro_tit img{width: 100%;}

.intro .intro_img{margin-top: 9.722vw;font-size: 0;}
.intro .intro_img .img_sale{width: 100%;}
.intro .intro_img .img_sale img{width: 100%;}
.intro .intro_img .img_zero_box{position: relative;width: 42.222vw;max-width: 304px;margin: 0.370vw auto 0;font-size: 0;}
.intro .intro_img .img_zero_box .img_zero{}
.intro .intro_img .img_zero_box .img_zero img{width: 100%;}
.intro .intro_img .img_zero_box span{position: absolute;}
.intro .intro_img .img_zero_box span.img_icon01{top: 41.667vw;left: 0;width: 5.556vw;
-webkit-animation: iconAni01 .6s ease infinite;
-o-animation: iconAni01 .6s ease infinite;
animation: iconAni01 .6s ease infinite;
}
.intro .intro_img .img_zero_box span.img_icon02{top: -0.833vw;left: auto;right: 2.083vw;width: 7.222vw;
-webkit-animation: iconAni02 .6s ease infinite;
-o-animation: iconAni02 .6s ease infinite;
animation: iconAni02 .6s ease infinite;
}
.intro .intro_img .img_zero_box span.img_icon03{top: 13.889vw;left: -9.722vw;width: 7.083vw;
-webkit-animation: iconAni03 .6s ease infinite;
-o-animation: iconAni03 .6s ease infinite;
animation: iconAni03 .6s ease infinite;
}


@keyframes iconAni01 {
    0%{top: 41.667vw;left: 0;}
    50%{top: 42.278vw;left: -1.389vw;}
    100%{top: 41.667vw;left: 0;}
}

@keyframes iconAni02 {
    0%{top: -0.833vw;right: 2.083vw;}
    50%{top: -0.078vw;right: 1vw;}
    100%{top: -0.833vw;right: 2.083vw;}
}

@keyframes iconAni03 {
    0%{top: 13.889vw;}
    50%{top: 15.278vw;}
    100%{top: 13.889vw;}
}


.intro .intro_img .img_zero_box span img{width: 100%;}
.intro .intro_img .img_btm{width: 44.167vw;margin: 0 auto;font-size: 0;}
.intro .intro_img .img_btm img{width: 100%;}

.intro_btn{position: absolute;bottom: 9.167vw;left: 50%;width: 100%;max-width: 720px;-webkit-transform: translate(-50%,0);
-ms-transform: translate(-50%,0);
-o-transform: translate(-50%,0);
transform: translate(-50%,0);}
.intro_btn ul{font-size: 0;}
.intro_btn ul li{display: inline-block;width: 50%;text-align: center;}
.intro_btn ul li.btn_login{}
.intro_btn ul li.btn_join{position: relative;}
.intro_btn ul li.btn_join:after{content: '';position: absolute;top: 50%;left: 0;width: 1px;height: 3.333vw;background: #c4c4c4;-webkit-transform: translate(0,-50%);-ms-transform: translate(0,-50%);-o-transform: translate(0,-50%);transform: translate(0,-50%);}
.intro_btn ul li a{font-size: 4.444vw;line-height: 6.389vw;font-weight: 500;letter-spacing: -0.005em;}

@media screen and (min-width: 540px) {
    .intro {backgro und: #fdd;}
    .intro .intro_img{margin-top: 52.5px;}
    .intro .intro_img .img_zero_box{width: 228px;max-width: 228px;margin: 2px auto 0;}
    
    .intro .intro_img .img_zero_box span.img_icon01{top: 230px;width: 30px;}
    
    .intro .intro_img .img_zero_box span.img_icon02{top: -10px;right: 5px;width: 39px;}
    
    .intro .intro_img .img_zero_box span.img_icon03{top: 70px;left: -50px;width: 38.25px;}
    
    .intro .intro_img .img_btm{width: 238.5px;}

    .intro_btn{bottom: 49.5px;}
    .intro_btn ul li a{font-size: 24px;line-height: 34.75px;}
    .intro_btn ul li.btn_join:after{height: 18px;}
    
    
    @keyframes iconAni01 {
        0%{top: 230px;left: 0;}
        50%{top: 235px;left: -10px;}
        100%{top: 230px;left: 0;}
    }

    @keyframes iconAni02 {
        0%{top: -5px;right: 5px;}
        50%{top: -10px;right: 10px;}
        100%{top: -5px;right: 5px;}
    }

    @keyframes iconAni03 {
        0%{top: 70px;}
        50%{top: 78px;}
        100%{top: 70px;}
    }
}






















